* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #f5f5f5;
    position: relative;
    padding-bottom: 20px;
}
/* Header Section */
header hr {
    display: block;
    width: 90%;
    margin: 5px auto;
    opacity: 0.5;
}
.header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background-color: rgb(205 163 115);
    color: white;
}

.contact {
    display: flex;
    align-items: center;
    width: 12%;
    justify-content: space-around;
}
.info {
    width: 50%;
}

.social {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social i {
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    color: rgb(205 163 115);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -1px -1px 5px #707070;
    cursor: pointer;
}

.header2 {
    display: flex;
    height: 100px;
    background-color: white;
    box-shadow: 1px 1px 7px #b9b9b9;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    color: #00d3d3;
}

.search {
    width: 50%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search input{
    width: 70%;
    height: 36px;
    border: 2px solid #ff5e00;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 5px 23px;
    opacity: 0.7;
}

.search i {
    font-size: 17px;
    color: white;
    padding: 18px;
    background-color: #ff5e00;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.login {
    width: 21%;
    display: flex;
    justify-content: space-between;
}

.kartSection {
    display: flex;
    width: 50%;
    justify-content: space-between;
    position: relative;
}

.kartSection p {
    margin: auto;
}

.kartSection i {
    font-size: 20px;
    position: relative;
}

.kartnum {
    position: absolute;
    font-size: 11px;
    top: -10px;
    right: -13px;
    color: white;
    background: #ff5e00;
    padding: 5px;
    border-radius: 50%;
}

.karts {
    position: absolute;
    left: 6px;
    top: 20px;
    width: 188%;
    margin: 7px 1px;
    box-shadow: 0px 0px 10px #b9b9b9;
    border-radius: 8px;
    background-color: white;
}

.kartItems {
    display: flex;
    padding: 10px 7px;
    justify-content: space-between;
    align-items: center;
}

.kartItems img{
    height: 40px;
}

.kartItems p {
    text-align: center;
}

.count {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.count i {
    font-size: 11px;
    background-color: aqua;
    padding: 5px;
    border-radius: 50%;
}
/* main Section */
main {
    margin-bottom: 50px;
}
.navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
}

.navbar a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11%;
    padding: 10px 0px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.both {
    display: flex;
    height: 445px;
}

.left {
    background-image: linear-gradient(to right, #c7c7c7 , #e2e0e0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 29px;

}

.right {
    background: url("images/img2.jpg");
    background-position: center;
    background-size: cover;
}

.services {
    display: flex;
    position: relative;
    top: -50px;
    height: 110px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.services div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    justify-content: space-between;
}

.services div i {
    font-size: 40px;
    border: 3px solid #ffa36f;
    padding: 29px 28px;
    border-radius: 50%;
    background-color: white;
}

/* On sale section */
.Heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.Heading hr{
    display: inline-block;
    width: 38%;
    height: 2px;
    background: #ff5e00;
    border: none;
}
.Heading div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.Heading div h2{
    display: inline-block;
    width: 100%;
    font-size: 40px;
    text-align: center;
}
.saleItemSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 45px 0px;
}
.saleItem {
    display: flex;
    height: 260px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #afaeae;
    padding: 15px 25px;
}
.saleItem img {
    height: 100px;
}
.arrow {
    font-size: 30px;
    cursor: pointer;
}
.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.row div {
    background: url('images/img3.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    width: 43.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    margin: 10px 0px;
}
.row div strong {
    position: absolute;
    top: 50px;
    left: 40px;
    font-size: 38px;
}
.row div p {
    position: absolute;
    top: 100px;
    left: 40px;
}
.row div button {
    
    position: absolute;
    bottom: 45px;
    left: 40px;
    font-size: 13px;

}

/* Advertising Section */
.advertising {
    background: url(images/img4.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.advertising h1 {
    margin: 5px 0px;
    font-size: 48px;
    width: 57vw
}

.advertising div {
       height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Goal Section */
.goalSection {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
#goalHead {
    justify-content: flex-start;
}
#goalHead h2{
    text-align: left;
}
.goalLeft {
    width: 60%;
}
.goalRight {
    width: 44%;
    background: url(images/img6.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 477px;
    border-radius: 50%;
}
.goalRight img {
    position: absolute;
    bottom: -5px;
    left: -70px;
    border: 10px solid white;
    border-radius: 50%;
    width: 16vw;
    height: auto;
}
#goalP {
    font-size: 19px;
    line-height: 1.5;
    width: 77%;
    margin-bottom: 53px;
}

/* Sign in Section */
.signIn {
    background: url('images/img7.jpg');
    background-size: cover;
    background-position: center;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.signIn div {
    text-align: center;
    line-height: 1.5;
}
.signIn div h2 {
    font-size: 36px;
}
.signIn .search {
    height: 50px;
    width: 54vw;
}
.signIn .search input {
    height: 50px;
    width: 37vw;
    border: none;
}
.signIn .search i {
      width: 9vw;
      position: relative;
      right: -1px;
}
/* Footer Section */
.footSection {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.socialFoot {
    margin: 20px 0px ;
}
.socialFoot i{
    margin-right: 15px;
    font-size: 18px;
    opacity: 0.5;
    cursor: pointer;
}

.footInfo {
    line-height: 1.8;
}

.contactFoot {
    display: flex;
    flex-direction: column;
    line-height: 1.8;
    margin: 35px 250px;
}
.contactFoot strong {
    position: relative;
    left: 49px ;
}
.contactFoot div {
    display: flex;
}
.contactFoot div i{
    margin-right: 30px;
    font-size: 18px;
}
.foot {
    position: absolute;
    right: 30px;
    bottom: 0px;
    padding: 20px 0px;
}

/* Utility Classes */
.btn {
    border-radius: 18px;
    color: white;
    background-color: #ffa36f;
    border: none;
    padding: 9px 23px;
    display: block;
    margin: 15px auto;
    font-weight: 600;
}

.btn-2 {
    border-radius: 18px;
    color: #ff5e00;
    background-color: white;
    border: none;
    padding: 9px 23px;
    display: block;
    margin: 15px auto;
    font-weight: 600;
    font-size: 17px;
}

.btn-3 {
    border-radius: 18px;
    background-color: #ff5e00;
    color: white;
    border: none;
    padding: 9px 23px;
    font-weight: 600;
    font-size: 17px;
}

.p-5 {
    padding: 0px 65px;
}

.m-5 {
    margin: 0px 65px;
}

.w-50 {
    width: 50vw;
    height: auto;
}

button {
    cursor: pointer;
}

.active {
    border-bottom: 3px solid #ff5e00;
}